version=1.0

## SQL Configuration ##

sql.database=gameserver_sql
sql.login_database=main
sql.url=localhost
sql.port=3307
sql.user=web

#if no pass is needed, comment out
#sql.pass=


## SOCKET CONFIGURATION ##

server.port=4444
server.name=Game Server
server.game.id_length=10
server.game.timeout=30
server.session.id_length=30
server.session.timeout=20
server.garbage_collection.interval=20